<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TransliteratorWPF_Version.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<TransliteratorWPF_Version.Properties.Settings>
   <setting name="PlaySoundOnTranslitToggle" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ToggleTranslitShortcut" serializeAs="String">
    <value>Alt, T</value>
   </setting>
   <setting name="displayCombos" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="StartMinimized" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="turnOnTranslitAtStart" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="launchProgramOnSystemStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ProgramFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="LastTranslitTable" serializeAs="String">
    <value>tableLAT-UKR.json</value>
   </setting>
   <setting name="pathToCustomToggleOnSound" serializeAs="String">
    <value />
   </setting>
   <setting name="pathToCustomToggleOffSound" serializeAs="String">
    <value />
   </setting>
   <setting name="SelectedTheme" serializeAs="String">
    <value />
   </setting>
   <setting name="enableStateOverlayWindow" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="suppressAltShift" serializeAs="String">
    <value>True</value>
   </setting>
  </TransliteratorWPF_Version.Properties.Settings>
	</userSettings>
</configuration>